# Copyright (c)  2022-2025  Sutou Kouhei <kou@clear-code.com>
#
# Permission is granted to copy, distribute and/or modify this document
# under the terms of the GNU Free Documentation License, Version 1.3
# or any later version published by the Free Software Foundation;
# with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts.
# A copy of the license is included in the section entitled "GNU
# Free Documentation License".

title: milter manager
description:
  en: an effective anti-spam with milter
  ja: milterを使った効果的な迷惑メール対策
version: 2.2.9
release_date: 2025-10-10
timezone: Asia/Tokyo

url: https://milter-manager.github.io
baseurl:
permalink: /ja/blog/:year/:i_month/:i_day/:title:output_ext

excerpt_separator: "<!--more-->"

future: true

pagination:
  enabled: true
  sort_reverse: true
  permalink: /:num.html
  title: ":title（:num）"

sass:
  style: expanded
  sass_dir: assets/stylesheets

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  smart_quotes: ["apos", "apos", "quot", "quot"]

exclude:
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - README.md
  - vendor/
  - ".#*.*"
  - ".#*"
  - "#*#"

defaults:
  - scope:
      type: "posts"
    values:
      path_prefix: /ja/
      layout: "post"
      type: "post"
      language: ja
      country: JP
  - scope:
      path: "ja"
    values:
      path_prefix: /ja/
      layout: "base"
      language: ja
      country: JP
  - scope:
      path: ""
    values:
      path_prefix: /
      layout: "base"
      language: en
      country: US
