name: Site

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
      - name: Detect version
        run: |
          version=$(ruby \
                      -r date \
                      -r yaml \
                      -e 'print YAML.safe_load(ARGF.read, permitted_classes: [Date])["version"]' \
                      _config.yml)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - uses: actions/configure-pages@v5
        id: pages
      - name: Build site
        run: |
          bundle exec jekyll \
            build \
            --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      - uses: actions/checkout@v3
        with:
          repository: milter-manager/milter-manager
          path: milter-manager.source
          ref: ${{ env.VERSION }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y -V \
            ccache \
            gi-docgen \
            libev-dev \
            libgirepository1.0-dev \
            meson
          sudo gem install gio2
      - name: Cache ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: site-ccache-${{ env.VERSION }}
          restore-keys: site-ccache-
      - name: Setup
        run: |
          meson setup \
            --prefix=/tmp/local \
            -Ddoc=true \
            -Dsource-reference=${{ github.event.inputs.source-reference }}\
            milter-manager.build \
            milter-manager.source
      - name: Build
        run: |
          meson compile -C milter-manager.build
      - name: Install
        run: |
          sudo meson install -C milter-manager.build
      - name: Move reference manuals
        run: |
          mkdir -p _site/reference/
          cp -a \
            /tmp/local/share/doc/milter-manager/* \
            _site/reference/
      - uses: actions/upload-pages-artifact@v4

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v1
        id: deployment
